body{
	background-image: url('../../bg.jpg');
	position: relative
}

ul{
	list-style-type: none;
}
#d0{
	width: 100%;
	height: 30px;
}
.menu:hover{
	color: red;
}
.anh{
	width: 100px;
	height: 150px;
}
#d2{
	background-image: url('../../ip.jpg');
	position: relative;
}
#c1{
	position: absolute;
	top: 100px;
	left: 200px;
}
#dtd{
	float: right;
}