ul{
	list-style: none;
}
.mn1{
	float: left;
	position: relative;
}
.menu{
	width: 70px;
	height: 40px;
	border: 0.5px solid white;
	color: white;
	padding: 1px;
	line-height: 40px;
	text-align: center;
	background-color: #64FE2E;
}
#i1{
	width: 100px;
	font-size: 30px;

}
#i2{
	width: 120px;

}
#i3{
	width: 100px;
}
#tk{
	width: 200px;
	text-align: right;
}
.mn2{
	width: 210px;
	height: 25px;
	border: 0.05px solid black;
	color: black;
	text-align: left;
	background-color: #64FE2E;
	padding:  2px;
	line-height: 20px;
}
.parent{
	
	position: absolute;
	top: 42px;
	left: -42px;
}
.mn1:hover .parent{
	display: block
}
